.card {
    --radius: 15px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    border-radius: var(--radius);
    box-shadow: 0 0 20px grey;
    padding: 5px;
}

.card h4,
.card p {
    margin: 0 0 10px 0;
    padding: 0;
}

.card>img {
    object-fit: cover;
    height: 100px;
    width: 210px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.card .card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card .card-review {
    margin-top: auto;
}

.card.card-long {
    flex-direction: row;
}

.card.card-long>img {
    height: 140px;
    width: 120px;
    border-radius: var(--radius) 0 0 var(--radius);
}

.card.card-big>img {
    width: 280px;
}