/* reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* vars */
:root {
    --color-white: white;
    --color-black: black;
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-grey: #F2F2F2;
    --spacing-container: 0;
}

/* common */
html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header,
main,
footer .container {
    margin: 0 auto;
    max-width: 1200px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.fa-star.on {
    color: var(--color-blue);
}

.fa-star.off {
    color: var(--color-grey);
}

@media screen and (max-width: 480px) {
    :root {
        --spacing-container: 30px;
    }
}