.header-filter-section {
    --icon-size: 50px;
    --text-padding: 10px;
    --span-bg-color: transparent;
    --span-txt-color: inherit;
    padding: 0 var(--spacing-container);
}

.header-filter-section,
.header-filter-section ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header-filter-section h4 {
    margin: 0;
}

.header-filter-section li {
    display: flex;
    margin: 5px;
}

.header-filter-section ul i,
.header-filter-section ul span,
.header-filter-section h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-filter-section ul i,
.header-filter-section ul span {
    border-radius: var(--icon-size);
}

.header-filter-section ul span {
    z-index: -1;
    border: 2px solid var(--color-grey);
    background-color: var(--span-bg-color);
    color: var(--span-txt-color);
}

.header-filter-section ul i {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--color-light-blue);
    margin-right: calc(0px - var(--icon-size));
}

.header-filter-section ul span {
    padding: 0 var(--text-padding);
    padding-left: calc(var(--text-padding) + var(--icon-size));
}

.header-filter-section ul i {
    color: var(--color-blue);
}

.header-filter-section a {
    display: flex;
}

.header-filter-section ul a:hover {
    --span-bg-color: var(--color-blue);
    --span-txt-color: var(--color-white);
}