.header-nav-section {
    display: flex;
    justify-content: space-between;
}

.header-nav-section ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.header-nav-section li {
    list-style: none;
    padding: 20px;
    border-top: 3px solid transparent;
}

.header-nav-section li>a {
    text-decoration: none;
    color: var(--color-black);
}

.header-nav-section li.active {
    border-top: 3px solid var(--color-blue);
}

.header-nav-section li.active>a {
    color: var(--color-blue)
}