.header-search-section {
    --radius: 15px;
    --icon-size: 50px;
    --max-mobile-width: 480px;
    display: flex;
    height: 50px;
}

.header-search-section i,
.header-search-section .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-section>i {
    width: var(--icon-size);
    background-color: var(--color-grey);
    border-radius: var(--radius) 0 0 var(--radius);
}

.header-search-section .search-button {
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 0 var(--radius) var(--radius) 0;
    color: var(--color-white);
}

.header-search-section input {
    padding-left: 10px;
    font-weight: bold;
    border: 1px solid var(--color-grey);
}

.header-search-section input,
.header-search-section input::placeholder {
    color: var(--color-black);
}

.header-search-section a>i {
    display: none;
}

@media screen and (max-width: 480px) {
    .header-search-section a>span {
        display: none;
    }

    .header-search-section a>i {
        display: unset;
    }

    .header-search-section .search-button {
        border-radius: var(--radius);
        width: var(--icon-size);
        padding: 0px;
        margin-left: calc(0px - var(--icon-size) / 2);
    }
}