.section-lodging {
    display: flex;
}

.section-lodging-city ,
.section-lodging-most-popular {
    padding: 20px;
}


.section-lodging-city {
    background-color: var(--color-grey);
    border-radius: 15px;
}
.section-lodging-city>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-lodging-most-popular {
    background-color: var(--color-grey);
    border-radius: 15px;
    margin-left: 20px;
}