<a class="card {{ card.style }}" href="#">
  <img alt="{{ card.img.alt }}" style="{{ card.img.style }}" src="./images/{{ card.img.dir }}/3_medium/{{ card.img.src }}" sizes="100vw" srcset="
                                ./images/{{ card.img.dir }}/4_small/{{ card.img.src }} {{ card.img.size.small }},
                                ./images/{{ card.img.dir }}/3_medium/{{ card.img.src }} {{ card.img.size.medium }}">
  <div class="card-content">
    <h4>{{ card.title }}</h4>
    {% if card.style !== 'card-big' %}
      <p>{{ card.subtitle}}
        <strong>{{ card.price }}€</strong>
      </p>
      <div class="card-review">
        {% for i in range(1, 5) %}
          <i class="fa-solid fa-star {{ 'on' if card.rating >= i else 'off' }}"></i>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</a>