{% extends "layout-base.njk" %}
{% block content %}
    <header>

        <nav class="header-nav-section">
            <a href="#"><img src="./images/logo/Booki.png" alt="logo"/></a>
            <ul>
                {% for link in links | filter_by_section('nav') %}
                    <li>
                        <a href="{{ link.link }}">{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="header-title-section">
            <h2>Trouvez votre hébergement pour des vacances de rêve</h2>
            <p>En plein centre-ville ou en pleine nature</p>
        </div>

        <form class="header-search-section" method="post" action="#">
            <i class="fa-solid fa-location-dot"></i>
            <input type="search" name="rechercher" placeholder="Marseille, France">
            <a class="search-button" href="#">
                <span>Rechercher</span>
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </form>

        <div class="header-filter-section">
            <h3>Filtres</h3>
            <ul>
                {% for filter_item in filters %}
                    <li>
                        {% include 'filter.njk' %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="header-info-section">
            <i class="fa-solid fa-info"></i>
            <span>Plus de 500 logements sont disponibles dans cette ville</span>
        </div>

    </header>
    <main>

        <section id="section-lodging">

            <div class="section-lodging-search-result">
                <h2>Hébergements à Marseille</h2>
                <div>
                    {% for card in lodging_search_result %}
                        {% include 'card.njk' %}
                    {% endfor %}
                </div>
                <a href="#">Afficher plus</a>
            </div>

            <div class="section-lodging-most-popular">
                <div class="section-title">
                    <h2>Les plus populaires</h2>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div>
                    {% for card in lodging_most_popular %}
                        {% include 'card.njk' %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="section-activity">
            <h2>Activités à Marseille</h2>
            <div>
                {% for card in activities %}
                    {% if y !== loop.index - 1 %}
                        <div>
                            {% include 'card.njk' %}
                            {% if loop.index % 3 === 2 %}
                                {% set y = loop.index %}
                                {% set card = activities[y] %}
                                {% include 'card.njk' %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <ul>
                {% for section in footer_sections %}
                    <li>
                        <h3>{{ section.label }}</h3>
                        <ul>
                            {% for link in links | filter_by_section(section.code) %}
                                <li>
                                    <a href="{{ link.link }}">{{ link.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
{% endblock %}