.input-search {
  --radius: 15px;
  --icon-size: 50px;
  display: flex;
  height: var(--icon-size);
  margin: 30px 0;
}

.input-search i,
.input-search a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search>i {
  width: var(--icon-size);
  background-color: var(--color-grey);
  border-radius: var(--radius) 0 0 var(--radius);
}

.input-search a {
  background-color: var(--color-blue);
  padding: 10px;
  border-radius: 0 var(--radius) var(--radius) 0;
  color: var(--color-white);
}

.input-search input {
  width: 250px;
  padding-left: 10px;
  border: 1px solid var(--color-grey);
}

.input-search input,
.input-search input::placeholder {
  color: var(--color-black);
}

.input-search a>i {
  display: none;
}

.input-search>i,
.input-search a>i,
.input-search a>span {
  padding: 0 calc(var(--icon-size) / 2);
}

@media screen and (max-width: 768px) {
  .input-search a>span {
    display: none;
  }

  .input-search a>i {
    display: unset;
  }

  .input-search a {
    border-radius: var(--radius);
    width: var(--icon-size);
    padding: 0px;
    margin-left: calc(0px - var(--icon-size) / 2);
  }

  .input-search input {
    width: 100%;
  }
}