/* nav-home */
.nav-home {
  display: flex;
  align-items: center;
}

.nav-home > img {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .nav-home {
    margin-top: 20px;
    align-self: center;
  }
}

/* nav-link */
.nav-link {
  display: block;
  text-align: center;
  padding: 40px 20px 20px 20px;
  color: var(--color-black);
  border-top: 5px solid var(--color-grey);
}

.nav-link:hover {
  color: var(--color-blue);
  border-top: 5px solid var(--color-blue);
}

@media screen and (max-width: 768px) {
  .nav-link {
    border-top: 0;
    border-bottom: 5px solid var(--color-grey);
  }

  .nav-link:hover {
    border-top: 0;
    border-bottom: 5px solid var(--color-blue);
  }
}
