footer {
    background-color: var(--color-grey);
}

footer .container>ul {
    display: flex;
    flex-direction: row;
}

footer .container>ul>li {
    width: 33%;
}

@media screen and (max-width: 768px) {
    footer .container {
        flex-direction: column;
        padding: 30px;
    }

    footer .container>ul {
        width: 100%;
    }
}