/* reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-size: inherit;
}

/* vars */
:root {
  --color-white: white;
  --color-black: black;
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-grey: #f2f2f2;
}

/* font */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

strong,
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h2,
p {
  margin: 8px 0;
}

/* stars */
.fa-star.on {
  color: var(--color-blue);
}

.fa-star.off {
  color: var(--color-grey);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.2em;
  }
}
