.header-nav-section {
  display: flex;
  justify-content: space-between;
}

.header-nav-section ul {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header-nav-section {
    flex-direction: column;
    align-items: stretch;
  }

  .header-nav-section li {
    width: 50%;
  }
}
