/* header, main, footer layout */
body {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1600px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
}

/*  header > nav */
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: stretch;
  }

  nav li {
    width: 50%;
  }
}

/* .section-top */
.section-top {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section-top {
    padding: 30px;
  }
}

/* .section-top > .filters */
.section-top>.filters,
.section-top>.filters ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.section-top>.filters ul {
  row-gap: 10px;
}

/* .section-top > .info */
.section-top>.info {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 30px;
}

.section-top>.info i {
  align-self: start;
}

/* section-lodging */
#section-lodging {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  #section-lodging {
    flex-direction: column-reverse;
  }
}

.section-lodging {
  padding: 30px;
  background-color: var(--color-grey);
  border-radius: 30px;
}

.section-lodging.search-result {
  width: calc(100% - 400px);
}

.section-lodging.most-popular {
  width: 380px;
}

@media screen and (max-width: 992px) {

  .section-lodging.search-result,
  .section-lodging.most-popular {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-lodging {
    border-radius: 0px;
  }

  .section-lodging.search-result {
    background-color: var(--color-white);
  }
}

.section-lodging.search-result .section-content,
.section-lodging.most-popular .section-content {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5%;
  row-gap: 30px;
}

.section-lodging.search-result .card {
  width: 30%;
}

.section-lodging.most-popular .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .section-lodging.most-popular .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .section-lodging.most-popular .card,
  .section-lodging.search-result .card {
    width: 100%;
  }
}

/* section-activity */
#section-activity>div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

  .section-lodging.search-result {
    background-color: var(--color-white);
    border-radius: 0px;
  }

  .section-lodging.most-popular {
    background-color: var(--color-grey);
    border-radius: 0px;
    margin-left: 0px;
  }

  #section-activity {
    padding: 30px;
  }

  #section-activity>div>div {
    width: 100%;
  }
}